<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="shenma-site-verification" content="">
<meta name="title" content="">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="apple-touch-fullscreen" content="YES">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<title></title>
<link href="css/css.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="allCov">
  <div class="yzx_fle">
    <p class="anwd"><span class="anxh">热门</span></p>
    <p class="anwd"><span class="anwx">最新</span></p>
    <p class="anwd"><span class="anwx">飙升</span></p>
  </div>
  <div class="ydq_czu">
    <div class="langb">
      <p class="tunarp"> <img class="tupan" src="//image.kuwo.cn/newvip/vipzone/v2/abf.png">全部播放</p>
      <p class="tunarp"> <img class="tupan tunarpda" src="//image.kuwo.cn/newvip/vipzone/v2/axz.png">全部播放</p>
    </div>
    <p class="tunpan"> <img class="tupar" src="//image.kuwo.cn/newvip/vipzone/v2/plan.png">批量操作</p>
  </div>
  <div class="ydq_lieba">
    <div class="ydq_litran">
      <p class="texan"> 01</p>
      <p class="texran">刚好遇见你</p>
      <img class="texcha" src="//image.kuwo.cn/newvip/vipzone/v2/chan.png"><img class="texmv" src="//image.kuwo.cn/newvip/vipzone/v2/mv.png"><img class="texwsuan" src="//image.kuwo.cn/newvip/vipzone/v2/wsuan.png"> </div>
    <div class="ydq_litrxa">
      <p class="texzxw">-0</p>
      <p class="textan">李玉刚</p>
    </div>
  </div>
  <div class="ydq_lieba">
    <div class="ydq_litran">
      <p class="texan"> 01</p>
      <p class="texran">刚好遇见你</p>
      <img class="texcha" src="//image.kuwo.cn/newvip/vipzone/v2/chan.png"><img class="texmv" src="//image.kuwo.cn/newvip/vipzone/v2/mv.png"><img class="texwsuan" src="//image.kuwo.cn/newvip/vipzone/v2/wsuan.png"> </div>
    <div class="ydq_litrxa">
      <p class="texzxw">-0</p>
      <p class="textan">李玉刚</p>
    </div>
  </div>
  <div class="ydq_lieba">
    <div class="ydq_litran">
      <p class="texan"> 01</p>
      <p class="texran">刚好遇见你</p>
      <img class="texcha" src="//image.kuwo.cn/newvip/vipzone/v2/chan.png"><img class="texmv" src="//image.kuwo.cn/newvip/vipzone/v2/mv.png"><img class="texwsuan" src="//image.kuwo.cn/newvip/vipzone/v2/wsuan.png"> </div>
    <div class="ydq_litrxa">
      <p class="texzxw">-0</p>
      <p class="textan">李玉刚</p>
    </div>
  </div>
  <div class="ydq_lieba">
    <div class="ydq_litran">
      <p class="texan"> 01</p>
      <p class="texran">刚好遇见你</p>
      <img class="texcha" src="//image.kuwo.cn/newvip/vipzone/v2/chan.png"><img class="texmv" src="//image.kuwo.cn/newvip/vipzone/v2/mv.png"><img class="texwsuan" src="//image.kuwo.cn/newvip/vipzone/v2/wsuan.png"> </div>
    <div class="ydq_litrxa">
      <p class="texzxw">-0</p>
      <p class="textan">李玉刚</p>
    </div>
  </div>
</div>
</body>
</html>