<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="shenma-site-verification" content="">
<meta name="title" content="">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="apple-touch-fullscreen" content="YES">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<title></title>
<link href="css/css.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="allCov">
  <div class="ylb_tztb">

      <p class="lbitian">童年童年<img class="ylb_rjta" src="//image.kuwo.cn/newvip/vipzone/v2/rjta.png"></p>

   <div class="langd"> <p class="ylb_ptext">华语</p><p class="ylb_ptxt"></p><p class="ylb_ptext">华语</p><p class="ylb_ptxt"></p><p class="ylb_ptext">华语</p></div>
  </div>
  <div class="ylb_fegdan">
    <div class="tanqim"><img src="//image.kuwo.cn/newvip/vipzone/v2/dqimg1.jpg" width="100%">
      <p class="ylb_fegdangd">付费歌单付费歌单付费付费歌单付费歌单付费歌单歌单</p>
    </div>
    <div class="tanqim"><img src="//image.kuwo.cn/newvip/vipzone/v2/dqimg1.jpg" width="100%">
      <p class="ylb_fegdangd">付费歌单付费歌单付费付费歌单付费歌单付费歌单歌单</p>
    </div>
  </div>
  <div class="ylb_fegdan">
    <div class="tanqim"><img src="//image.kuwo.cn/newvip/vipzone/v2/dqimg1.jpg" width="100%">
      <p class="ylb_fegdangd">付费歌单付费歌单付费付费歌单付费歌单付费歌单歌单</p>
    </div>
    <div class="tanqim"><img src="//image.kuwo.cn/newvip/vipzone/v2/dqimg1.jpg" width="100%">
      <p class="ylb_fegdangd">付费歌单付费歌单付费付费歌单付费歌单付费歌单歌单</p>
    </div>
  </div>
</div>
</body>
</html>