<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="shenma-site-verification" content="">
<meta name="title" content="">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="apple-touch-fullscreen" content="YES">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<title></title>
<link href="css/css.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="allCov">
  <div class="yzx_fle">
    <p class="anwd"><span class="anxh">热门</span></p>
    <p class="anwd"><span class="anwx">最新</span></p>
  </div>
  <div class="ylb_fegdan">
    <div class="tanqim"><img src="//image.kuwo.cn/newvip/vipzone/v2/dqimg1.jpg" width="100%"><img class="ylb_fegdnb" src="//image.kuwo.cn/newvip/vipzone/v2/nb1.png" width="100%">
      <p class="ylb_fegano">付费歌单付费歌单付费付费歌单付费歌单付费歌单歌单</p>
      <p class="ylb_fegant">付费歌单付费歌单付费付费歌单付费歌单付费歌单歌单</p>
    </div>
    <div class="tanqim"><img src="//image.kuwo.cn/newvip/vipzone/v2/dqimg1.jpg" width="100%"><img class="ylb_fegdnb" src="//image.kuwo.cn/newvip/vipzone/v2/nb2.png" width="100%">
      <p class="ylb_fegano">付费歌单付费歌单付费付费歌单付费歌单付费歌单歌单</p>
      <p class="ylb_fegant">付费歌单付费歌单付费付费歌单付费歌单付费歌单歌单</p>
    </div>
  </div>
  <div class="ylb_fegdan">
    <div class="tanqim"><img src="//image.kuwo.cn/newvip/vipzone/v2/dqimg1.jpg" width="100%"><img class="ylb_fegdnb" src="//image.kuwo.cn/newvip/vipzone/v2/nb3.png" width="100%">
      <p class="ylb_fegano">付费歌单付费歌单付费付费歌单付费歌单付费歌单歌单</p>
      <p class="ylb_fegant">付费歌单付费歌单付费付费歌单付费歌单付费歌单歌单</p>
    </div>
    <div class="tanqim"><img src="//image.kuwo.cn/newvip/vipzone/v2/dqimg1.jpg" width="100%">
      <p class="ylb_fegano">付费歌单付费歌单付费付费歌单付费歌单付费歌单歌单</p>
      <p class="ylb_fegant">付费歌单付费歌单付费付费歌单付费歌单付费歌单歌单</p>
    </div>
  </div>
</div>
</body>
</html>