<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="shenma-site-verification" content="">
<meta name="title" content="">
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="apple-touch-fullscreen" content="YES">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<title></title>
<link href="css/css.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="allCov">
  <div class="ylb_than">
    <div class="ylb_thanpan">
      <div class="ylb_tanto">
        <p class="ylb_tpan">可编辑宣传可编辑宣传可编辑宣传可辑宣传可传可可编辑宣传可编辑宣传可编辑宣传可辑宣传可传可可编辑宣传可编辑宣传可编辑宣传可辑宣传可传可</p>
        <p class="ylb_tane">立即续费</p>
      </div>
    </div>
  </div>
  <div class="yzx_fle">
    <p class="anwd"><span class="anxh">华语</span></p>
    <p class="anwd"><span class="anwx">欧美</span></p>
    <p class="anwd"><span class="anwx">日韩</span></p>
    <p class="anwd"><span class="anwx">其它</span></p>
  </div>
  <div class="yzw_lban">
    <div class="yzx_lbia"> <img class="taian" src="//image.kuwo.cn/newvip/vipzone/v2/dqimg2.jpg">
      <p class="tatext">薛之薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦谦</p>
    </div>
      <div class="yzx_lbia"> <img class="taian" src="//image.kuwo.cn/newvip/vipzone/v2/dqimg2.jpg">
      <p class="tatext">薛之薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦谦</p>
    </div>
      <div class="yzx_lbia"> <img class="taian" src="//image.kuwo.cn/newvip/vipzone/v2/dqimg2.jpg">
      <p class="tatext">薛之薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦谦</p>
    </div>
      <div class="yzx_lbia"> <img class="taian" src="//image.kuwo.cn/newvip/vipzone/v2/dqimg2.jpg">
      <p class="tatext">薛之薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦薛之谦谦</p>
    </div>
  </div>
  
</div>
</body>
</html>